<!--<div class="row label-action">
    <div class="col-xs-9">

        <ol class="breadcrumb">
            <li><a href="#">{{getApp.name}}</a></li>
            <li><a href="#">Quản lý nhân sự</a></li>
            <li class="active">Tạo mới</li>
        </ol>
    </div>
    <div class="col-xs-3">
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="back()"><i class="glyphicon glyphicon-chevron-left"></i> Quay lại</button>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-xs-6">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <!-- <div class="checkbox"> -->
            <!--     <label> -->
            <!--         <input type="checkbox"> Check me out -->
            <!--     </label> -->
            <!-- </div> -->
            <button type="submit" class="btn btn-success" ng-click="alert('Function has updating ...')">Đồng ý</button> <button type="submit" class="btn btn-primary">Hủy bỏ</button>
        </form>
    </div>
    <div class="col-xs-6">

    </div>
</div>
