/*
@import "../../variable.less";
*/
.list-taxi-accept .alert-danger {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  color: #A94442;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.list-taxi-accept .alert-danger a {
  color: #2A6496;
}
.list-taxi-accept .taxi-accept .list a {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1px;
  padding: 5px 35px 5px 50px;
}
.list-taxi-accept .taxi-accept .list a:after {
  content: "";
}
.list-taxi-accept .taxi-accept .list a > a {
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: #676767;
}
.list-taxi-accept .taxi-accept .list a button {
  position: absolute;
  top: 15px;
  right: 10px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  padding: 0;
}
.list-taxi-accept .taxi-accept .list a img {
  left: 0;
}
.list-taxi-accept .taxi-accept .list a h2 {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.list-taxi-accept .taxi-accept .list a p {
  font-size: 12px;
  text-align: left;
  color: #676767;
}
.list-taxi-accept .noTaxiAccept .list {
  margin-bottom: 0;
}
.list-taxi-accept .noTaxiAccept .list a {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1px;
  padding: 5px 35px 5px 60px;
  min-height: 60px;
}
.list-taxi-accept .noTaxiAccept .list a:first-child {
  border-top: 1px solid #ddd;
}
.list-taxi-accept .noTaxiAccept .list a:after {
  content: "";
}
.list-taxi-accept .noTaxiAccept .list a > a {
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: #676767;
}
.list-taxi-accept .noTaxiAccept .list a img {
  left: 0;
  border: 1px solid #ECECEC !important;
  width: 50px !important;
  height: 50px !important;
  max-height: 50px;
  max-width: 50px;
  top: 5px;
}
.list-taxi-accept .noTaxiAccept .list a h2 {
  padding-top: 0;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
.list-taxi-accept .noTaxiAccept .list a p {
  font-size: 12px;
  text-align: left;
  color: #676767;
  margin: 0;
}
.list-taxi-accept .noTaxiAccept .list a i {
  position: absolute;
  top: 13px;
  right: 0;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  background: #43cee6;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
