/*
@import "../variable.less";
*/
.bookmark h5 {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.bookmark h5 img {
  width: 60px;
  height: 60px;
}
.bookmark h5 span {
  position: relative;
  top: -16px;
  margin-left: 10px;
}
.bookmark .list .item-input img {
  width: 25px;
}
.bookmark .list .item-input input {
  padding-left: 7px;
  font-size: 13px;
}
.bookmark ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
  padding-top: 7px;
  font-size: 13px;
}
.bookmark ul li i {
  font-size: 24px;
  position: relative;
  top: 2px;
  color: #3F3F3F;
  margin-right: 5px;
}
.bookmark ul li > div {
  height: 25px;
  max-height: 25px;
  width: 100%;
  overflow: hidden;
}
.bookmark ul li button {
  position: absolute;
  right: 5px;
  top: 12px;
}
.bookmark .popup-buttons b {
  font-weight: 600;
}
