.overview .panel {
  border-radius: 0;
}
.overview .m-n {
  margin: 0;
}
.overview .m-n a {
  text-decoration: none;
}
.overview .m-n .i-s {
  margin-right: 15px;
  position: relative;
}
.overview .m-n .i-s .hexagol {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.overview .m-n .i-s i {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 21px;
  font-size: 22px;
  color: #fff;
}
.overview .m-n .b-a:hover .hexagol {
  -ms-transform: rotate(120deg);
  /* IE 9 */
  -webkit-transform: rotate(120deg);
  /* Chrome, Safari, Opera */
  transform: rotate(120deg);
  /* Standard syntax */
}
.overview .m-n .b-a:nth-child(2) {
  border-right: 0;
}
.overview .m-n .b-a:nth-child(3) {
  border-bottom: 0;
}
.overview .m-n .b-a:nth-child(4) {
  border-right: 0;
  border-bottom: 0;
}
.overview .m-n .b-a h4 {
  margin: 7px 0 0 0;
  font-size: 22px;
}
.overview .m-n .b-a h4.text-danger {
  color: #e33244;
}
.overview .b-a {
  padding: 15px;
  border-bottom: 1px solid #eaeef1;
  border-right: 1px solid #eaeef1;
}
.overview .hexagol {
  width: 52px;
}
.overview .fa-facebook {
  width: 100%;
  text-align: center;
  font-size: 3em;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.8);
  background: #177bbb;
}
.overview .fa-twitter {
  width: 100%;
  text-align: center;
  font-size: 3em;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.8);
  background: #fcc633;
}
.overview .feed-facebook {
  overflow: hidden;
  background: #fff;
  padding: 17px 0;
}
.overview .feed-facebook .col-xs-6:nth-child(1) {
  border-right: 1px solid #eaeef1;
}
.overview .feed-facebook span {
  color: #788288;
  font-weight: bold;
  font-size: 23px;
}
.overview .feed-facebook p {
  font-size: 12px;
  margin: 0;
  color: #999;
}
